h1{
  margin-left: 35px;
}

img {
  margin-top: 50px;
  width: 250px;
  height: auto;
  margin-left: 24ch;
}

.description{
  margin-left: 35px;
  margin-right: 9px;
}

.rating{
  margin-left: 35px;
  display: flex;
  gap: 75px;
}
