ion-content {
  --background: #f4f4f4;

  ion-card {
    margin: 15px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;

    h1 {
      font-size: 1.5rem;
      margin: 10px 0;
      color: #333;
    }

    .img {
      text-align: center;
      margin: 15px 0;

      img {
        height: auto;
        border-radius: 8px;
        width: auto;
      }
    }

    div {
      p {
        margin: 5px 0;
        font-size: 1rem;
        color: #555;
      }

      p:first-child {
        font-weight: bold;
        color: #777;
      }

      p:last-child {
        font-weight: bold;
        font-size: 1.2rem;
        color: #000;
      }
    }

    ion-button.delete {
      margin-top: 15px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1.2rem;
      --color: #ff3b30;

      ion-icon {
        margin-left: 5px;
        font-size: 1.5rem;
      }
    }
  }
}
