.produc_Container{
  justify-content: center;
  align-items: center;
  width: 95%;
  height: 95%;
  display: flex;
  flex-wrap: wrap;
}


.button{
  margin-top: 0px;
  width: 35px;
  height: 35px;
}

.ion-title{
  font-size: 35px;
}

.ion-toolbar{
  height: 55px;
}

.div-ion-toolbar{
  width: 95%;
  display: flex;

}

#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}
page-home {
  ion-content {
    .selector {
      margin-top: 20px;
    }

    ion-fab {
      ion-fab-button {
        --background: #3880ff;
        --color: #fff;

        ion-icon {
          font-size: 24px;
        }
      }
    }
  }
}
